@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the School Portal</h1>
    <p>The site offers a way to view the different instructors and students available. </p>
</div>
