@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginViewModel

<h1> Please Login</h1>
<form asp-action="Login" asp-controller="Account">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName">
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div class="form-check">
        <input asp-for="RememberMe">
        <label asp-for="RememberMe" ></label>
    </div>
    <input type="submit" value="Submit"/>
</form>